p {
    color: red;
    text-align: center;
}

.task2{
    color: green;
}

#second paragraph {
 color: deeppink;
}
a {
    color: red;
}
ul a{
 color: deeppink;
}
.main{
    color: green;
}
ul>li>ul>li{
    list-style-type: none;
}

#list>li:last-child{
    list-style-type: square;
}

ul.last>li a {
    text-decoration: none;
}