table{
    font-style: italic;
    text-align: center;
    border-collapse: collapse;
 border-spacing: 12px 12px;
    font-family: Georgia;

}
td {
    border: 1px solid white;
    padding: 6px;


}
 table tr:nth-child(2n) {
     background-color: #FA8072;
 }
table tr:nth-child(2n+1) {
    background-color: #E9967A;
 }


table tr td:first-of-type{
    background-color: red;
    color: white;
}
table tr:first-of-type td:nth-child(5) {
    background-color: darkred;
    color: white;
}
table tr:first-of-type td:nth-child(3) {
    background-color: firebrick;
     color: white;
}
table tr:first-of-type td:nth-child(2) {
    background-color: crimson;
      color: white;
}
table tr:first-of-type td:nth-child(4) {
    background-color: brown;
       color: white;
}
table tr:first-of-type td:first-of-type {
    background-color: indianred;
    color: white;
}