* {
    box-sizing: border-box;
}


body {
    background-image: url("img/IMG_20220408_193917_515_edit_1483267621876792.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#main-window {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -200px;
    margin-left: -400px;
}

form {
    width: 300px;
    background-color: rgba(255,255,131,0.64);
    border-radius: 10px 0px 0px 10px;
    float: left;
    height: 400px;
}

img {
    width: 500px;
    height: 400px;
    border-radius: 0px 10px 10px 0px;
}

form div {
    margin: 30px 70px 30px 20px;
}

input {
    border: 1px solid black;
    font: 14px normal gray;
    font-family: Arial;
    height: 25px;
    width: 200px;
    border-radius: 6px;
    background-color: #ffffb6;
    transition-duration: 1s;
}

label {
    font: 20px normal black;
    font-family: 'Dosis', sans-serif;
    letter-spacing: normal;

}

p {
    font: 40px normal black;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    margin: 10px 10px 10px 20px;
}

input:hover {
    border-radius: 20px;
    transition-duration: 0.5s;
    background-color: #bcb0ff;
    transform: scale(110%);

}

button {
    margin: 10px 10px 10px 20px;
    width: 150px;
    height: 30px;
    border-radius: 30px;
    background-color: #feffac;
    font: 15px normal black Arial;
    font-weight: bold;
    border: 2px solid red;
    transition-duration: 1s;
}

button:hover {

    transition-duration: 0.5s;
    border-color: green;
    transform: scale(110%)
}
form a {
    font-family: Arial;
    font: 14px normal;
    color: black;
    text-decoration: none;
}
form a:hover {
            color: blue;
}


